{{>layout/header}}
<body>
<h1>Update Building Name</h1>
<h2>Please enter a Course Id</h2>
<form action="/building/updatebuilding" method="GET">
    <label>Name of Building to change:
    <br/>Building Name:<br/> <input type="text" name="building_name" required size="30" /></label>
    <br/>
    <p>New Building Information:</p><br/>
<label>
            <br/>Building Name: <br/> <input type="text" name="building_name" required size="30" /></label>
 
    <input type="submit" name="doit" value="Update Building Name" />
</form>
{{>layout/footer}}