{{>layout/header}}
<body>
<h1>Team 7</h1>
<h2>Register Student Page</h2>
<br/>
<form action="/schedule/" method="POST">
    <div>
        <label>
            <br/><br/> Student name: <br/></label>
        <select name="student_name" required>
            {{#students}}
            <option>{{id}} {{firstName}} {{lastName}}</option>
            {{/students}}
        </select>
        <br/>

        <label>
            <br/><br/> Section Test: <br/></label>
        <select name="section" required>
            {{#sections}}
            <option> <b>Section Number:</b> {{sectionNumber}} <b>Course Number:</b> {{course.getCourseNumber}} <b>Course Name:</b> {{course.getDescription}} <b>Course Department:</b> {{course.getDepartment}} <b>Credits:</b> {{course.getCredits}}</option>
            {{/sections}}
        </select>
        <br/>


        <input type="submit" name="doit" value="Register" />
    </div>
</form>

<a href="/">Return to home Screen</a>
</body>
{{>layout/footer}}