{{>layout/header}}
<body>
<form action="/schedule/readSchedule" method="POST">
    <div>
        <label>
            <br/><br/> Student name: <br/></label>
        <select name="student_name" required>
            {{#students}}
            <option>Student ID: {{id}} {{firstName}} {{lastName}}</option>
            {{/students}}
        </select>
        <br/>
        <input type="submit" name="doit" value="List Schedule" />
    </div>
</form>

<a href="/">Return to home Screen</a>
</body>
{{>layout/footer}}